
.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 95%;
    border-radius: 5px;
    border: 1px solid grey;
    margin: 15px 0px 15px 20px;
    background: linear-gradient(to bottom, #68c1ee, #8fe57a, #ffc3a0);
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50vh;
}

.Email,.password{
    display: flex;
    justify-content: center;
}

.emailInput,.passwordInput{
    border-radius: 5px;
    border-color: aqua;
}
